@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bd {
    border: 1px solid #f00;
  }
  html {
    @apply bg-gray-100;
  }

  body {
    @apply text-sm;
  }

  .container {
    @apply max-w-xl mx-auto;
  }

  .todo {
    @apply bg-white rounded shadow;
  }

  .todo__header {
    @apply relative p-4 rounded bg-primary;
  }

  .todo__body {
    @apply p-4 space-y-4 before:content-[''];
  }

  .todo__body:not(.todo__body--completed):empty:before {
    content: "You don't have any work todo, relax :-)";

    @apply block text-center;
  }

  .todo__title {
    @apply w-full h-12 p-4 pl-4 pr-16 overflow-hidden text-white transition rounded-full outline-none placeholder:text-white bg-white/20;
  }

  .todo__header:focus-within .todo__title {
    @apply shadow-xl;
  }

  .todo__create {
    @apply absolute flex items-center justify-center w-12 h-12 bg-white rounded-full outline-none text-primary top-4 right-4;
  }

  .todo__create svg {
    @apply w-6 h-6 transition;
  }

  .todo__create:focus svg,
  .todo__create:hover svg {
    @apply w-8 h-8 rotate-90;
  }

  .todo__body {
    @apply transition-all;
  }

  .todo__item {
    @apply flex items-center justify-between px-4 py-2 transition bg-white rounded shadow;
  }

  .todo__item.is_completed {
    @apply bg-gray-100;
  }

  .todo__item.is_completed p {
    @apply line-through opacity-50;
  }

  .todo__item p {
    @apply line-clamp-1;
  }

  .todo__buttons {
    @apply flex space-x-2;
  }

  .todo__buttons .btn {
    @apply relative flex items-center justify-center w-6 h-6 transition opacity-70 hover:opacity-100;
  }

  .todo--delete {
    background: url(../img/delete.svg) 50% 50% no-repeat;
  }

  .todo--complete {
    background: url(../img/check.svg) 50% 50% no-repeat;
  }

  .todo__item.is_completed .todo--complete {
    background: url(../img/uncheck.svg) 50% 50% no-repeat;
  }

  .todo__item--remove {
    @apply duration-500 origin-top-left opacity-0 rotate-12;
  }

  /* .todo__body--completed {
    @apply before:content-[''] before:w-6/12 before:absolute before:top-0 before:left-1/2 before:h-px before:-translate-x-1/2 before:bg-gray-100;
  }

  .todo__body--completed:empty:after {
    content: "No todo items completed yet!";

    @apply block text-center;
  }

  .todo__body--completed .todo__item {
    @apply line-through;
  } */
}
